	h1{
		font-family: 'SmallCaps' , sans-serif;
		font-size: 2em;
		font-weight: bold;
		font-variant: small-caps;
		text-align: right;
		margin-top: 1.0em;
		margin-bottom:0.5em;
		color: red;
	}
	
	h2{
		font-family: 'caps' , sans-serif;
		font-size: 3vw;
		font-weight: italic;
		font-variant: small-caps;
		text-align: left;
		margin-top: 1.0em;
		margin-bottom:0.5em;
		color: blue;
	}		
	
	.highlight{
		font-family:sans-serif;
		font-size: 1em;
		font-variant: small-caps;
		margin-top: 1.0em;
		margin-bottom:0.5em;
		color: yellow;
	}
	
	p{
	
	}