body{
	background-color: lightblue;
}
	
h1{
	
	font-size: 2.5em;
	text-align: center;
}
h2{
	font-size:2em;
}
#paragraph2{
	background-color: white;
	margin-left: 1.5em;
	margin-top:1.5em;
	margin-bottom:1.5em;
	border:6px solid black;
	padding-left: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-right: 2em;
	width: 55em;
	line-height:2;
	border-color: green;
}
.blue{
	border: 2px solid darkblue;
	background-color: darkblue;
	color: white;
	padding-left: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
}
ol{
	list-style-type:decimal-leading-zero;
	font-size:1.0em;
}	
li::marker{
			font-size:1.5em;
}
a[target="_blank"] {
	color:darkred;
}
table{
		border: 1px solid black;
}
th{
	border:1px solid black;
	background-color: lightgray;
}

td{
	border:1px solid black;
	background-color: white;
	padding:0.5em;
}