html, body{
    margin: 0;
    padding: 0;
}

#menuItems {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 15em;
    background-color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 1000;
}

#menuItems button{
    width: 100%;
    height: 3em;
    background-color: darkblue;
    font-size: 1.2em;
    color: white;
    border: 1px solid black;
    cursor: pointer;
}

#menuItems button:not(#recentArticles):hover{
    background-color: blue;
}

#jumpMenu {
    display: none;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    background-color: goldenrod;
}

#recentArticles:hover + #jumpMenu,
#jumpMenu:hover {
    display: block;
}

#recentArticles:hover,
#recentArticles:hover + #jumpMenu,
#jumpMenu:hover {
    background-color: goldenrod;
}

#jumpMenu a {
    display: block;
    padding: 0.4em 0;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: blue;
    background-color: goldenrod;
}

#jumpMenu a:hover {
    color: white;
    background-color: darkgoldenrod;
    text-decoration: underline;
}

body{
    margin-left: 15em;
}

header{
    position: sticky;
    top: 0;
    width: 100% ;
    z-index: 500;
    border: 1px solid black;
    overflow: hidden;
    background-color: red;
    text-align: center;
    font-size: 35px;
}

h1{
    text-align: center;
    font-size: 3em;
}

#container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    gap: 1em;
    padding: 1em;
    text-align: justify;
    max-width: calc(4 * 300px + 3 * 1em);
    margin: 0 auto;
}

#container h1{
    text-align: justify;
}

#container article{
    color: #777;
    transition: color 2s ease, transform 2s ease;
    scroll-margin-top: 6em;
    width: 300px;
    padding: 1em;
    box-sizing: border-box;
}

#container article:hover {
    color: #000;
    transform: scale(1.05);
}

#container article p:first-of-type::first-letter{
    font-family: "Times New Roman", Times, serif;
    font-size: 36px;
}

#container article p > a,
#container article p > a:visited,
#container article p > a:hover,
#container article p > a:active {
    color: blue;
    opacity: 1;
}

#container article p > a::after {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-left: 6px;
    vertical-align: middle;
    background-image: url("images/arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#thanks{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0;
    background-color: lightblue;
    color: black;
    padding: .5em;
    font-size: 2.5em;
    z-index: 1000;
}

footer{
    background-color: black;
    color: white;
    padding: 2em 1em;
    text-align: center;
}

footer p, 
footer address{
    margin: 0;
}

footer p{
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 0.75em;
}

footer address{
    font-style: normal;
}

footer address div{
    font-size: 1.3em;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 3em;
    row-gap: 0.6em;
    justify-content: center;
    justify-items: start;
    text-align: center;
}

footer address span{
    font-weight: bold;
}

footer address a,
footer address span:nth-child(even){
    font-weight: normal;
}
